{% extends 'base.html.twig' %}


{% block content%}
<!-- ======= Hero Section ======= -->
<section id="hero">
    <div class="hero-container" data-aos="fade-up">
        <h1>Welcome to this snowboard website</h1>
        <h2>This site allows you to learn and share snowboard figures</h2>
    </div>
</section><!-- End Hero -->

<main id="main">
    <!-- ======= Portfolio Section ======= -->
    <section id="portfolio" class="portfolio">
        <div class="container">
            {% for notice in app.flashes('notice') %}
            <div class="alert alert-success" role="alert">
                {{ notice }}
            </div>
            {% endfor %}
            {% for flash in app.flashes('success') %}
            <div class="alert alert-success">{{ flash }}</div>
            {% endfor %}
            <div class="section-title" data-aos="fade-in" data-aos-delay="100">
                <h2>List of figures</h2>
            </div>

            <div class="row portfolio-container" data-aos="fade-up">
                {% for trick in tricks %}
                <div class="col-lg-4 col-md-6 portfolio-item">
                    <div class="text-center">
                        <h5>
                            <div>
                                {# <a href="{{ path('app_trick_show', {'slug': trick.slug}) }}"> #}
                                    <a href="{{ path('app_trick_show', {'id': trick.id}) }}">
                                        <span>
                                            {{ trick.name }}
                                        </span>
                                    </a>
                                    {% if app.user %}
                                    <a href="{{ path('app_trick_edit', {'id': trick.id}) }}"><i
                                            class="bi bi-pen"></i></a>
                                    <a href="{{ path('app_trick_delete', {'id': trick.id}) }}"
                                        onclick="return confirm(`Are you sure you want to remove the trick : {{trick.name}} ?`)"><i
                                            class="bi bi-trash"></i></a>
                            </div>
                            {% endif %}
                        </h5>
                    </div>
                </div>
                {% endfor %}
            </div>

            <div class="text-center">
                <a href="#" id="loadMoreTrick">
                    <i class="bi bi-plus-circle"></i>
                </a>
            </div>
    </section><!-- End Portfolio Section -->

    {% endblock content %}