{% extends 'base.html.twig' %}

{% block content %}
{% if error %}
<div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
{% endif %}
<section class="py-5 mx-auto l-container register">
    <div class="text-center">
        <h3 class="pb-5 fw-bold text-decoration-underline text-white">Login</h3>
    </div>
    <form method="post" class="py-3 px-4 mx-4 bg-light register-form">

        <div class="form-group">
            <label for="inputEmail" class="sr-only">Email address</label>
            <input type="email" value="{{ last_username }}" id="inputEmail" name="email" class="form-control"
                placeholder="Enter Email" required autofocus>
        </div>
        <br>
        <div class="form-group">
            <label for="inputPassword" class="sr-only">Password</label>
            <input type="password" name="password" id="inputPassword" class="form-control" placeholder="Enter Password"
                required>
            <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
        </div>

        <div class="text-center py-3">
            <button type="submit" class="btn btn-primary btn-lg">Login</button>
        </div>

        <div class="text-center">
            <a class="btn btn-link" href="{{ path('app_register') }}">Register</a>
            <a class="btn btn-link" href="{{ path('reset_password') }}">Forgot Password?</a>
        </div>
    </form>
</section>
{% endblock %}